

.sidebarItem{
    margin-top:45px;
    margin-bottom:45px;    
}
#textBox{
    color:transparent;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left:450px;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top:100px;
}

#textBox h1{
    font-size: 150px;
    line-height: 160px;
    margin-left:-50px;
    color:transparent;
    -webkit-text-stroke: 2px rgb(38,57,73);
    background:url('./cool.PNG');
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation: back 15s linear infinite;
    position:absolute;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

#talendar{
    color:#006466;
    text-align: center;
    position: absolute; 
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-bottom:150px; 
    background-color:rgb(38,57,73);
    height:35%;
    width:50vw;
    margin-left: 20px;
    border: 1px solid #006466;

}
